*{
    padding: 0;
    margin: 0;
    
   
    
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
   
}

.navigation{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: rgb(228, 234, 239);
    position: fixed;
    width: 100vw;
    
}
main{
    padding-top: 60px;
    display: flex;
    width: 100vw;
    
}
.logo_nav{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 10px;
    
}
.logo_nav button{
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background-color: rgb(254, 254, 254);
}
.search_box input{
    width: 500px;
    height: 35px;
    border-radius: 5px;
    text-align: start;
    padding-left: 50px;
    cursor:text;
    background-color:  rgb(255, 255, 255);
    border: 1px solid rgb(54, 51, 51);
    
}

.profile_nav{
    display: flex;
    gap: 13px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}
.profile_nav button{
    cursor: pointer;
    border-radius: 20px;
    background-color: aliceblue;
    height: 40px;
    width: 40px;
    border: none;
}
.left_navbar ul{
    position: fixed;
    width: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 247, 247);
    padding: 10px;
    padding-left: 15px;
    padding-right: 0px;
    gap: 20px;
    list-style: none;
    cursor: pointer;
    font-size: 15px;
    border-right: 2px solid rgb(68, 65, 65);
   
    
}
.left_navbar ul h2,h1{
    font-size: 10px;
    font-style: none;
    font-weight: 100;
    
}

.profile{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(250, 247, 247);
    padding-left: 77px;
    height: calc(100vh - 60px);
    
}
.chat_head{
    display: flex;
    width: 500px;
    color: rgb(11, 11, 11);
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    height: 70px;
    position: fixed;
    background-color: rgb(255, 254, 254);
    justify-content:space-between;
}
.left_chat_head{
    display: flex;
    gap: 10px;
    padding-left: 10px;
}
.left_chat_head button{
    cursor: pointer;
}
.chat_profile{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 500px;
    color: rgb(9, 9, 9);
    height: calc(100vh - 60px - 70px);
    padding-top: 70px;
    overflow:auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    
}
.chat_profile::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.pinned{
    display: flex;
    flex-direction: column;
    height: 10%;
    
    
}
.pinned .button{
    display: flex;
    height: 10px;
    font-size: 10px;
   
    align-items: center;
    padding-top: 20px;
    padding-left: 5px;

    
}
.pinned .button button{
    display: flex;
    border: none;
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}
.card{
    display: flex;
    padding: 10px;
   
    
}

.card button{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgb(246, 245, 245);
    cursor: pointer;
    border: none;

}
.card button img{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    
}
.card p{
    margin-left: auto;
}

.chat{
    background:rgb(239, 238, 238);
    width: calc(100vw - 560px);
    display:flex;
    flex-direction: column;
    
    
}
.name{
    display: flex;
    flex-direction: column;
}
.chat_information{
    display: flex;
    
    gap: 20px;
    align-items: center;
    padding: 15px;
    position: sticky;
    top: 60px;
    height: 40px;
    background-color:rgb(240, 236, 236); 
    border-left: 2px solid rgb(68, 65, 65);
    border-bottom: 2px solid rgb(68, 65, 65);
    
   
}
.meetnow{
    margin-left: auto;
    display: flex;
    gap: 5px;
    background-color: rgb(247, 240, 240);
    border: none;
    cursor: pointer;
    font-weight: 800;
}
.chat_button {
    background-color: rgb(251, 248, 248);
    border: none;
    cursor: pointer;
    
}
.shared_button{
    background-color: rgb(248, 248, 242);
    border: none;
    cursor: pointer;
}
.profile_image{
    cursor: pointer;
    padding-left: 25px;
}
.call_option{
    background-color: rgb(245, 238, 238);
    border: none;
    cursor: pointer;
}
.call_option:hover{
    background-color: rgb(238, 231, 231);
}
.view_add_participant{
    background-color: rgb(235, 231, 231);
    border: none;
    cursor: pointer;
}
.view_add_participant:hover{
    background-color: rgb(250, 246, 246);
}
.more_chat_options{
    background-color: rgb(249, 242, 242);
    border: none;
    cursor: pointer;
}
.more_chat_options:hover{
    background-color: rgb(248, 247, 247);
}
.chat_card{
    display: flex;
    flex-direction: column;
    width: 500px;
    
    
}
.chat_card h2{
    font-size: 12px;
    font-style: none;
    font-weight: 100;
    
}

.messeges{
    height: calc(100vh - 60px - 75px);
    background-color: rgb(245, 238, 238);
    gap: 20px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(68, 65, 65);
    overflow: scroll;
    /* yet to be learn used internet*/
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    padding: 10px;
    
}

/* yet to be learn used internet*/

.messeges::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.data{
    display: flex; 
    gap: 5px;
    
  
}
.data p{
   display: flex;
   align-items: center;
   background-color: rgb(247, 245, 245);
   padding: 10px;
   border-radius: 2px;
}
.data img{
    border-radius: 30px;
}

